In [46]:
import pandas as pd
import numpy as np

In [47]:
home=pd.read_csv("Banglore Housing Prices.csv")
home.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [48]:
backup=home.copy()
# house=backup.copy()
home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [49]:
home['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [50]:
home['location']=home['location'].fillna('Sarjapur  Road ')

In [51]:
home['size'].value_counts()
home['size']=home['size'].fillna("2 BHK")

In [52]:
home['bath']=home['bath'].fillna(home['bath'].median())

In [53]:
home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [54]:
home['bhk']=home['size'].str.split(" ").str.get(0)

In [55]:
home['bhk']=home['bhk'].astype(int)

In [56]:
home['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [57]:
def convertRange(x):
    temp= x.split("-")
    if len(temp)==2:
        return(float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [58]:
home['total_sqft']=home['total_sqft'].apply(convertRange)

In [59]:
home['price_per_sqft']=home['price']*100000/home['total_sqft']

In [60]:
home.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [61]:
home['location'].value_counts()
home.shape

(13320, 7)

In [62]:
home['location']=home['location'].apply(lambda x: x.strip())
location_count=home['location'].value_counts()

In [63]:
location_count_less_10 =location_count[location_count<= 10]

In [64]:
home['location']=home['location'].apply(lambda x:'other' if x in location_count_less_10 else x)
home['location'].value_counts()

location
other                 2885
Whitefield             541
Sarjapur  Road         400
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [65]:
home.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [66]:
(home['total_sqft']/home['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [67]:
home=home[((home['total_sqft']/home['bhk'])>=300)]
home.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [68]:
home['price_per_sqft'].describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [69]:
def remove_outliers_price_per_sqft(df):
    df_output =pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m =np.mean(subdf.price_per_sqft)
        st =np.std(subdf.price_per_sqft)
        
        gen_df =subdf[(subdf.price_per_sqft >(m-st))&(subdf.price_per_sqft <(m+st))]
        
        df_output=pd.concat([df_output,gen_df],ignore_index=True )
    return df_output
home=remove_outliers_price_per_sqft(home)

In [89]:
def outlier_bhk(df):
    exclude_indices=np.array([])

    for location,location_df in df.groupby('location'):
        bhk_stats={}   
        for bhk,bhk_df in location_df.groupby('bhk'): 
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }

        for bhk,bhk_df in location_df.groupby('bhk'): 
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
                
    return df.drop(exclude_indices,axis='index')

In [90]:
home=outlier_bhk(home)
home.shape

AttributeError: 'DataFrame' object has no attribute 'price_per_sqft'

In [72]:
home.drop(columns=['size','price_per_sqft'],inplace=True)

In [73]:
home.reset_index(drop=True)

                  location  total_sqft  bath   price  bhk
0      1st Block Jayanagar      2850.0   4.0  428.00    4
1      1st Block Jayanagar      1630.0   3.0  194.00    3
2      1st Block Jayanagar      1875.0   2.0  235.00    3
3      1st Block Jayanagar      1200.0   2.0  130.00    3
4      1st Block Jayanagar      1235.0   2.0  148.00    2
...                    ...         ...   ...     ...  ...
10296                other      1353.0   2.0  110.00    2
10297                other       812.0   1.0   26.00    1
10298                other      1440.0   2.0   63.93    3
10299                other      1075.0   2.0   48.00    2
10300                other      3600.0   5.0  400.00    4

[10301 rows x 5 columns]

In [74]:
home.to_csv("Cleaned_Home.csv")

In [75]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [76]:
x=home.drop(columns=['price'])
y=home['price']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [77]:
ohe=OneHotEncoder()
ohe.fit(x[['location']])

OneHotEncoder()

In [78]:
column_transformer=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['location']),remainder='passthrough')

In [79]:
scaler=StandardScaler(with_mean=False)

In [80]:
lr=LinearRegression()

In [81]:
pipe=make_pipeline(column_transformer,scaler,lr)

In [82]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['1st Block Jayanagar', '1st Phase JP Nagar',
       '2nd Phase Judicial Layout', '2nd Stage Nagarbhavi',
       '5th Block Hbr Layout', '5th Phase JP Nagar', '6th Phase JP Nagar',
       '7th Phase JP Nagar', '8th Phase JP Nagar', '9th Phase JP Nagar',
       'AECS Layout',...
       'Ulsoor', 'Uttarahalli', 'Varthur', 'Varthur Road', 'Vasanthapura',
       'Vidyaranyapura', 'Vijayanagar', 'Vishveshwarya Layout',
       'Vishwapriya Layout', 'Vittasandra', 'Whitefield',
       'Yelachenahalli', 'Yelahanka', 'Yelahanka New Town', 'Yelenahalli',
       'Yeshwanthpur', 'other'], dtype=object)]),
                                                  ['location'])])),
                ('standardscaler', StandardScaler(with_mean=False)),
                ('linearregression', LinearRegression())])

In [83]:
y_pred=pipe.predict(x_test)

In [84]:
mean_squared_error(y_test,y_pred,squared=False)

45.85293954950868

In [85]:

scores1=[]
for i in range (1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_transformer,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores1.append(mean_squared_error(y_test,y_pred,squared=False))

In [86]:
scores1[np.argmin(scores1)]

29.15214285214421

In [87]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=np.argmin(scores1))
lr = LinearRegression()
pipe = make_pipeline(column_transformer, lr)
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
mean_squared_error(y_test, y_pred, squared=False)

29.15214285214421

In [88]:
pipe.predict(pd.DataFrame(columns=['location','total_sqft','bath','bhk'],data=np.array(['Electronic City Phase II',1056,2,2]).reshape(1,4)))

array([30.06288412])